<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>photoshare</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/views/errors/404.jsp</location>
  </error-page>
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>dk.itu.photoshare.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>dk.itu.photoshare.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageController</servlet-name>
    <servlet-class>dk.itu.photoshare.controller.ImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageController</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageUploadController</servlet-name>
    <servlet-class>dk.itu.photoshare.controller.ImageUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadController</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUserController</servlet-name>
    <servlet-class>dk.itu.photoshare.controller.CreateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>TestController</servlet-name>
    <servlet-class>dk.itu.photoshare.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpeg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
</web-app>